.inputForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.inputs {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.inputForm input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 12px;
    
}

label {
    font-size: large;
    text-align: left;
    font-weight: bolder;
}

.inputForm input[type=submit] {
    margin-top: 16px;
    width: 30%;
    padding: 10px 4px;
    border-radius: 16px;
    font-size: 20px;
    font-weight: bolder;
}

